<!-- Show this for logged out users -->
<nav *appShowAuthed="false" class="container-flex__nav">

  <li class="nav-item">
    <a class="navbar-brand" routerLink="/">Smart Devices</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/">
      Home
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/login" routerLinkActive="active">
      Sign in
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/register" routerLinkActive="active">
      Sign up
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/contact" routerLinkActive="active">
      Contact
    </a>
  </li>

</nav>

<!-- Show this for logged in users -->
<ul *appShowAuthed="true" class="container-flex__nav">

  <li class="nav-item">
    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Home
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/contact" routerLinkActive="active">
      Contact
    </a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/profile', currentUser.username]" routerLinkActive="active">
      <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" width="35" height="35" />
    </a>
  </li>

  <li class="nav-item">
    <label for="username">{{ currentUser.username }}</label>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" (click)="logout()">
      <i class="ion-compose"></i>Logout
    </a>
  </li>
</ul>