

<!--Device's List -->
<section class="list-devices">
    <app-device-preview 
        *ngFor="let device of results" 
        [devices]="device" class="list-devices__device-preview">
    </app-device-preview>
</section>


<!-- information before to see the result -->
<div [hidden]="!loading">
    Loading devices...
</div>


<!-- pagination -->
<section class="pagination margin-center">
    <app-pagination [total_pages]="totalPages" (page)=onSetPageTo($event)></app-pagination>
</section>



<select class="probo" (change)="onChange($event)">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="20">20</option>
</select>
