<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <div class="banner" *appShowAuthed="false">
          <div align="center">
            <h1>{{ title }}</h1>
            <p>La tecnología a su alcance</p>
          </div>
        </div>
        <p align="center">
          <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
          <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>
        </p>

        <form [formGroup]="authForm" (ngSubmit)="submitForm()" class="center-inside-elements-flex">

          <fieldset [disabled]="isSubmitting" class="container-flex__form">
            <input formControlName="username" placeholder="Username" class="form-control input" type="text" *ngIf="authType == 'register'" /><br>

            <input formControlName="email" placeholder="Email" class="form-control input" type="text" /><br>

            <input formControlName="password" placeholder="Password" class="form-control input" type="password" /><br>

            <button class="btn-normal__blue form-control pointer" [disabled]="!authForm.valid" type="submit">
              {{ title }}
            </button>

          </fieldset>
          <app-list-errors [errors]="errors" class="error"></app-list-errors>
        </form>
        <div align="center">
          <label for="google">Social Login Google</label><br>
          <button (click)="signInSocial('google')" class="btn-social__google form-control pointer">Google</button>
        </div>
        <!--<app-social-login></app-social-login>-->


      </div>

    </div>

  </div>

</div>