<ul class="navbar-nav cart-items" *ngIf="items().length">
	<li class="nav-item" *ngFor="let product of items()">
		<div>
			<img src="../../assets/media/{{product.media}}" alt="{{product.brand}}" width="50" height="50">
			{{ product.brand }}
			{{ product.price }}€
			<button (click)="removeItem(product)">Delete</button>
		</div>
		
	</li>
	<div>Total: {{ total() }}€</div>
	<div>Subtotal: {{ test }}€</div>
	<button (click)="clearCart()">Vaciar carrito</button>
	<button (click)="buyCart()">Comprar</button>
</ul>

<ul class="navbar-nav cart-items" *ngIf="items().length == 0">
	<li class="nav-item">
		Su carrito esta vacio
	</li>
</ul>
